.std-search-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 480px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}
@media screen and (max-width: 768px) {
    .std-search-dialog {
        width: 320px;
        height: 480px;
    }
}
.std-search-dialog-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.std-search-dialog-nav-top {
    display: flex;
    justify-content:space-between;
}
.std-search-dialog-nav-top-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}
.std-search-dialog-nav-top-item span {
    margin-right: 10px;
    margin-bottom: 2px;
}
.std-search-dialog-nav-top-item:hover svg > path {
    fill: red;
}
.std-search-dialog-nav-top-item svg {
    width: 20px;
    height: 20px;
    margin-right: -10px;
    cursor: pointer;
}
.std-search-dialog-switch-slide-label {
    display: block;
    width: 34px;
    height: 18px;
    background: #ccc;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.std-search-dialog-switch-slide-label:after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    left: 1px;
    top: 1px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition:0.3s ease;
    transition:0.3s ease;
}
.std-search-dialog-switch-slide input:checked+label {
    background: #34bf49;
    transition: 0.3s ease;
}
.std-search-dialog-switch-slide input:checked+label:after {
    left: 17px;
}
.std-search-dialog-nav-bottom {
    display: flex;
    align-items: center;
}
.std-search-dialog-nav-bottom input[type="text"] {
    font-family: 'en', 'zh', 'Times New Roman', sans-serif;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(75% - 32px);
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    &:focus {
        border-color: #5c9cff;
        box-shadow: 0 0 5px rgba(92, 156, 255, 0.5);
    }
    &::placeholder {
        color: #aaa;
    }
    transition: border-color 0.3s, box-shadow 0.3s;
}
.std-search-dialog-nav-bottom button{
    width: 40px;
    font-family: 'Times New Roman', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    background-color: #4fb558;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.std-search-dialog-nav-bottom button:hover {
    background-color: #2a8332;
}
.std-search-dialog-nav-bottom button:active {
    background-color: #ccc;
}
.std-search-dialog-nav-bottom span {
    font-size: 12px;
    margin-left: auto;
}
.std-search-dialog-list {
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 100px;
    height: 360px;
}
.std-search-dialog-list ol {
    margin: 5px;
}
.std-search-dialog-list li {
    padding-right: 20px;
    line-height: 1.75em;
}