<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="description" content="Jarvis Local Transfer">
        <meta name="keywords" content="A local network transfer">
        <meta name="revisit-after" content="3 days">
        <meta name="robots" content="index, follow, noarchive">

        <title>Local Transfer</title>

        <link rel="stylesheet" type="text/css" href="static/assets/css/modern-normalize-min.css">
        <link rel="stylesheet" type="text/css" href="static/assets/css/fonts-min.css">
        <link rel="stylesheet" type="text/css" href="static/assets/css/min.css">
        <link rel="stylesheet" type="text/css" href="static/assets/css/custom.css">

        <script src="static/assets/js/particles.min.js"></script>
        <script src="static/assets/js/sha256.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo/favicon.ico') }}">

        <style>
            #question-mark{
                font-size: 20px;
                color: black;
                cursor: pointer;
            }
            #tooltip{
                position: absolute;
                z-index: 999;
                background-color: #fff;
                padding: 5px;
                border: 1px solid #000;
                display: none;
            }
        </style>
    </head>

    <body>
        <section class="page-header">
            <canvas class="background"></canvas>
            <h1 class="project-name">
                <a style="text-decoration:none; color:inherit">Transfer</a>
            </h1>
            <h2 class="project-tagline">
                A derivative tool of the Jarvis Engineering by <a href="https://Illusionna.readthedocs.io" target="_blank" style="text-decoration:none; color:inherit">@Illusionna</a>
            </h2>
        </section>

        <section class="main-content">
            <div id="home">
                <br>
                <div>
                    <span id="question-mark">❓</span>
                    <button type="reset" value="刷新" style="float: right;" onclick="window.location.href='/flush';">刷新</button>
                    <div id="tooltip">1. 多个文件以压缩包形式上传;<br>2. 大文件传输需要一定时间;<br>3. 上传目录 {{ uploadDirectory }}</div>
                    <h1 style="display:flex; justify-content:space-between;">
                        URL → {{ localURL }}
                        <span>局域网下电子设备</span>
                    </h1>
                    <h3 style="display:flex; justify-content:space-between;">
                        Socket → {{ localSocket }}
                        <span>浏览器输入 URL 或 Socket 进入服务器</span>
                    </h3>
                </div>                  
                <br>

                <form action="/" method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" value="上传">
                </form>

                {% if show %}
                    <h3><span style="font-family:宋体">已上传</span> ** <strong>{{ fileName }}</strong> **【<span style="font-family: courier">{{ fileSize }}</span>】</h3>
                    <img src="{{ filePath }}" alt="无法显示" style="max-width: 400px; max-height: 350px;" onerror="this.onerror=null;this.src='static/alt/alt.png';">
                {% endif %}

                {% if error %}
                    <script>
                        alert(
                            "哎呀? 未选择文件嗷~(●'◡'●)"
                        );
                        window.history.back();
                    </script>
                {% endif %}

                <br>
                <h3>共享目录 → {{ shareDirectory }}</h3>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>文件名</th>
                        <th>占用空间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dir, size, name in tables %}
                    <tr>
                        <td><a href="files/{{ dir }}">{{ name }}</a></td>
                        <td>{{ size }}</td>
                        <td><button type="button" onclick="deleteRow(this)">删除</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <footer class="site-footer">
                <span class="site-footer-owner">
                    <a href="#">Top</a>
                </span>
            </footer>
        </section>
    </body>

    <script>
        const questionMark = document.getElementById('question-mark');
        const tooltip = document.getElementById('tooltip');
        questionMark.addEventListener('mouseover', () => {
            tooltip.style.display = 'block';
        });
        questionMark.addEventListener('mouseout', () => {
            tooltip.style.display = 'none';
        });
    </script>

    <script>
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            var fileName = row.cells[0].getElementsByTagName("a")[0].href;
            var password = prompt("请输入密码：");
            var hashedPwd = SHA256(password);
            if (hashedPwd === "{{ pwd }}") {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/delete", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("file_name=" + encodeURIComponent(fileName));
                row.remove();
            } else {
                alert("密码错误！");
            }
        }
    </script>

    <script>
        var particles = Particles.init({
            selector: '.background',
            speed: 0.12,
            color: ['#DA0460', '#404B69'],
            connectParticles: true,
            responsive: [
                {
                    breakpoint: 1000,
                    options: {
                        color: '#00C9B1',
                        maxParticles: 240,
                        connectParticles: false
                    }
                }
            ]
        });
    </script>
</html>